$background1: red;

@mixin cube($dimensions){
    width: 100px;
    height: 100px;
}

div {
    width: 100px;
    height: 100px;
    background: $background1;

    div {
        width: 60px;
        height: 60px;
        background: yellow;

        div {
            width: 30px;
            height: 30px;
            background: pink;
            ;
        }
    }
}