div {
    display: inline-block;
    width: 100px;
    height: 100px;
    background: red;
    border: 1px solid black;
    
}
span
{
    display:block;
    text-align: center;
    background: yellow;
    
}