.landing {
    background: url(./assets/background.png);
    display: flex;
    justify-content: space-between;
    
}

.landing .headings .dashed{
    font-size: 24px;
    line-height: 33px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Bebas Neue", cursive;
    margin-left: 62px;
    padding: 12px 18px 10px;
    border: 1px dashed #3d2514;
    margin-bottom: 24px;
}
.landing .headings h2 {
    margin-left: 62px;
    font-family: 'Alfa Slab One', cursive;
    font-size: 114px;
    color: #3d2514;
    font-weight: 400;
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}
.landing .headings h4 {
    margin-left: 62px;
    font-size: 56px;
    color: #3d2514;
    font-weight: 400;
    font-family: "Alfa Slab One";
    filter: drop-shadow(3.936px 4.528px 0px #fee8bc);
}