.always-tasty-burger {
    max-width: 1440px;
    margin: auto;
    }
.always-tasty-burger button {
    width: 218px;
    height: 48px;
    font-weight: 700;
    justify-content: center;
    text-align: center;
    font-family: "Bebas Neue";
    color: #3d2514;
    background: #ffc045;
    font-size: 25px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 38px;;
}
.always-tasty-burger h2 {
    color: #3d2514;
    font-weight: 400;
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
        
}
.always-tasty-burger p {
    padding: 0 202px; 
    font-size: 16px;
    line-height: 28px;
    color: #3d2514;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-bottom: 66px;
}