/*

font-family: 'Alfa Slab One', cursive;

font-family: 'Bebas Neue', cursive;

font-family: 'Montserrat', sans-serif;

*/


header {
    
    display:flex;
    justify-content: space-between;
    padding: 56px 50px;
   
}

.express-container {
    display: flex;  
    align-items: center;
    margin-bottom: 26px;
    justify-content: flex-end;
    
}

.express-container img {
    margin-right: 8px;
        
}

.express-container div {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #3d2514;
    
}

.right-side nav a {
    letter-spacing: 4px;
    margin: 0px 24px;
    color: #3d2514;
    font-weight: 700;
    font-family: "Bebas Neue", cursive;
    text-decoration: none;
            
}

.right-side nav a:first-child {
    margin-left: 0px;
}

.right-side nav a:last-child {
    margin-right: 0px;
}
