.reservation {
    position: relative;
    margin-top: 36px;
    overflow:hidden;
    padding-bottom: 172px;
}

.reservation img {
    position:absolute;
}

.reservation img:first-of-type {
    left: -10px;
    box-shadow: #3d3d3d;
}

.reservation img:last-of-type {
    right: -136px; 
    bottom: 22px;

}

.reservation form {
    /* FORM yprastai jau buna numatyta display:block */
    width: 800px;
    padding: 24px;
    margin:auto;
    text-align: center;
  

}

.reservation h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 29px;
    letter-spacing: 2px;
    color: #3d2514;
    font-weight: 400;
    margin-bottom: 6px;
    
}
.reservation h2 {
    font-family: 'Alfa Slab One', cursive;
    font-size: 50px;
    letter-spacing: 3px;
    color: #3d2514;
    text-transform: uppercase;
    margin-bottom: 62px;
}
.reservation .input-wrapper {
    display: flex;
    flex-wrap: wrap;
}
.reservation input {
    flex: 0 0 calc(50% - 24px);
    margin: 13px 12px;
    border-radius: 5px;
    border: 1px solid #bebebe;
    height: 65px;
    padding: 0 24px;
    text-transform: uppercase;
    font-size: 21px;
    color: #3d3d3d;
    outline: none;
}
.reservation input::placeholder {
    color: #3d3d3d;
    
}

.reservation button {
    font-family: 'Alfa Slab One', cursive;
    font-size: 21px;
    flex: 0 0 calc(50% - 24px);
    border-radius: 5px;
    background-color: #bf2222;
    color: #fff;
    text-transform: uppercase;
    margin: 13px 12px;