@import url('https: //fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

$mobile: 375px;
$tablet: 768px;
$desktop: 1024px;

$text-color: #1f373d;
$yellow: #ffcc01;
$blue: #96bece;
$white: #ffff;
$grey: #f6f5f4;

$size13: 13px;

.container {
    max-width: 1180px;
}

.logo {
    font-weight: 600;
    font-size: 25px;
    color: $text-color;
}