nav { 
    display:none;
    flex-direction: column;
    font-size:large;
    text-decoration:none;
    
}
ul:hover {
    background-color:blue
}
button:focus nav {
    display: flex;
    
}
button:focus-within nav {
    display:flex;

}
section:focus-within nav {
    display: flex;
}

@media (min-width: 768px) {
    nav {
        display:flex;
        flex-direction: row;
    }
    svg {
        display: none
    }
}
